<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <h1>{{ product.name }}</h1>
      <!-- Ícono del carrito -->
      <a href="{{ url_for('cart') }}" class="cart-icon">
        <img src="{{ url_for('static', filename='img/cart-icon.gif') }}" alt="Carrito de compras">
        <span class="cart-count">{{ session.get('cart', []) | length }}</span>
      </a>
    </header>
    <div class="container">
      <img src="{{ url_for('static', filename='img/' + product.image) }}" alt="{{ product.name }}" class="product-image">
      <p>Precio: ${{ product.price }}</p>
      <p>Descripción: {{ product.description }}</p>
      <div class="add-to-cart">
        <button onclick="changeQuantity(-1, {{ product.id }})">-</button>
        <input type="number" id="quantity-{{ product.id }}" value="1" min="1">
        <button onclick="changeQuantity(1, {{ product.id }})">+</button>
        <button onclick="addToCart({{ product.id }})">Agregar al carrito</button>
      </div>
    </div>
    <script>
      function addToCart(productId) {
        const quantityInput = document.getElementById(`quantity-${productId}`);
        const quantity = parseInt(quantityInput.value, 10);

        fetch(`/add-to-cart-ajax/${productId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ quantity: quantity })
        })
        .then((response) => response.json())
        .then((data) => {
          if (data.cart_count !== undefined) {
            const cartCountElement = document.querySelector(".cart-count");
            cartCountElement.textContent = data.cart_count;
            quantityInput.value = 1; // Resetear la cantidad
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
      }

      function changeQuantity(delta, productId) {
        const quantityInput = document.getElementById(`quantity-${productId}`);
        let currentQuantity = parseInt(quantityInput.value, 10);
        currentQuantity = Math.max(1, currentQuantity + delta);
        quantityInput.value = currentQuantity;
      }
    </script>
  </body>
</html>
